<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>LockedIN</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button class="Log-In" aria-label="Log In">
      <mat-icon>LogIn</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>




